#brain-logo{
    display: inline-block;
    margin: 5px 0px 0px 25px
}
#sign-in{
    display: inline-block;
    background-color: #4912f6;
    border: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 1px 0px 0px 1350px
}
#try-free{
    background-image: linear-gradient(to right, #fcba03, #ee7a38);
    height: 40px;
    width: 135px;
    border-radius: 25px;
    border: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    margin: 0px 0px 0px 5px;
}



.horizontal-flex{
    display: flex;
}
.vertical-flex{
    display: flex;
    flex-direction: column;
}



#functional-music{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: lighter;
    margin: 300px 0px 0px 25px;
}
#focus{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0px 0px 25px;
}
#science-first{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 25px 0px 0px 25px;
    line-height: 125%;
}
#featured{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    margin: 15px 0px 0px 25px; 
}
#publications{
    margin: 0px 0px 0px 25px;
}
#try-five{
    background-image: linear-gradient(to right, #fcba03, #ee7a38);
    height: 65px;
    width: 175px;
    border-radius: 40px;
    border: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    margin: 25px 0px 0px 25px;
}
#headphones{
    margin: 150px 0px 0px 475px;
    width: 800px;
}
#see-the-science{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 150px;
}



#sound-waves{
    width: 650px;
    margin: 150px 0px 0px 200px;
}
#patented{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 25px 0px 0px 200px;
}
#remove-distractions{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 25px 0px 0px 200px;
}
span{
    font-weight: bold;
}
#unique-music{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 25px 0px 0px 200px;
}
#explore{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    margin: 25px 0px 0px 200px;
}




#brain-scan{
    width: 600px;
    margin: 150px 0px 0px 175px;
}
#tested{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 40px 0px 0px 175px;
}
#scientists{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 25px 0px 0px 175px;
}
#brain-effects{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 25px 0px 0px 175px;
}
#experiments{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 25px 0px 0px 175px;
}